<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Default file server -->
		<add key="DefaultDrive" value="DAF" />

		<add key="CompareItExePath" value="C:\Program Files (x86)\" />

		<!-- DAF file server -->
		<add key="DAF_Production" value="\\SaberRelease\Production" />
		<add key="DAF_Reldas" value="\\SaberRelease\Designer\boms" />
		<add key="DAF_Designer" value="\\SaberWiP\2_Users\designs\BSA\boms" />

		<!-- Leyland file server -->
		<add key="LEY_Production" value="\Production" />
		<add key="LEY_Reldas" value="\Designer\" />
		<add key="LEY_Designer" value="\2_Users\designs\BSA\Boms" />

		<!-- Local drive -->
		<add key="Exurbia_Production" value="C:\Users\tomvh\Documents\School\S5 - Internship\Data\SaberRelease\Production" />
		<add key="Exurbia_Reldas" value="C:\Users\tomvh\Documents\School\S5 - Internship\Data\SaberRelease\Designer\boms" />
		<add key="Exurbia_Designer" value="C:\Users\tomvh\Documents\School\S5 - Internship\Data\SaberWiP\2_Users\designs\BSA\Boms" />

		<!-- Saber Tool Plus main folder -->
		<add key="SaberToolPlus_Folder" value="C:\Path\To\Saber Tool Plus" />
	</appSettings>
</configuration>
