<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Data_Access.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Data_Access.MySettings>
            <setting name="UserProfiles" serializeAs="String">
                <value />
            </setting>
            <setting name="RefSets" serializeAs="String">
                <value />
            </setting>
        </Data_Access.MySettings>
    </userSettings>
</configuration>